@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Roboto+Slab:wght@100..900&display=swap");

.checkBox {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  background-color: cadetblue;
  padding: 10px;
}

.MovieDisplayCenter {
  display: flex;
  justify-content: center;
}

.MovieDisplay {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.ImagesWidth {
  height: 350px;
  width: 250px;
}

.MovieTitle {
  font-size: 15px;
  font-family: "Roboto Slab", serif;
  color: rgb(0, 0, 0);
  width: 200px;
}

.LiMovieList {
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  list-style-type: none;
}

.LiMovieList.fade-in {
  opacity: 1;
  transform: translateY(0);
}

@media only screen and (min-width: 350px) and (max-width: 500px) {
  .MovieDisplayCenter {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .MovieDisplay {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }
}

@media only screen and (min-width: 500px) and (max-width: 780px) {
  .MovieDisplayCenter {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .MovieDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }
}

@media only screen and (min-width: 780px) and (max-width: 1300px) {
  .MovieDisplayCenter {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .MovieDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0;
  }
}
