@import url("https://fonts.googleapis.com/css2?family=Playwrite+NZ+Guides&family=Roboto+Slab:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&family=Bebas+Neue&display=swap");

.checkBox {
  display: flex;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  background-color: cadetblue;
  padding: 10px;
}

.BlurPageofProduct {
  background-color: rgba(236, 225, 142, 0.7);
  margin: 80px 250px 0px 250px;
  border-radius: 10px;
  width: auto;
  padding: 0;
}

.NameAndLiked {
  /* display: flex;
  justify-content: center; */
  /* gap: 15px; */
}

.GenreHeader {
  font-family: "Archivo Black", serif;
  font-size: 45px;
  text-align: center;
  margin: 5px;
}

/* .MovieDisplayCenter {
  display: flex;
  justify-content: center;
} */

.Column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
}

.center {
  display: flex;
  justify-content: center;
}

.ImagesWidth {
  height: 350px;
  width: 250px;
}

.TitleofMovie {
  font-size: 20px;
  font-family: "Roboto Slab", serif;
  color: rgb(0, 0, 0);
  width: 250px;
  text-align: center;
}

.Li {
  margin: 10px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  list-style-type: none;
}

.Li.fade-in {
  opacity: 1;
  transform: translateY(0);
}

/*like checkboks*/
.heart-container {
  --heart-color: rgb(91, 173, 255);
  position: relative;
  width: 30px;
  height: 30px;
  transition: 0.3s;
}

.heart-container .checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.heart-container .svg-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heart-container .svg-outline,
.heart-container .svg-filled {
  fill: var(--heart-color);
  position: absolute;
}

.heart-container .svg-filled {
  animation: keyframes-svg-filled 1s;
  display: none;
}

.heart-container .svg-celebrate {
  position: absolute;
  animation: keyframes-svg-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
  stroke: var(--heart-color);
  fill: var(--heart-color);
  stroke-width: 2px;
}

.heart-container .checkbox:checked ~ .svg-container .svg-filled {
  display: block;
}

.heart-container .checkbox:checked ~ .svg-container .svg-celebrate {
  display: block;
}

@keyframes keyframes-svg-filled {
  0% {
    transform: scale(0);
  }

  25% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(1);
    filter: brightness(1.5);
  }
}

@keyframes keyframes-svg-celebrate {
  0% {
    transform: scale(0);
  }

  50% {
    opacity: 1;
    filter: brightness(1.5);
  }

  100% {
    transform: scale(1.4);
    opacity: 0;
    display: none;
  }
}

@media only screen and (min-width: 250px) and (max-width: 650px) {
  .checkBox {
    display: flex;
    justify-content: center;
    /* margin: 30px 0px 30px 0px; */
    background-color: cadetblue;
    /* padding: 10px; */
  }

  .BlurPageofProduct {
    background-color: #a6a9b6;
    margin: 0px;
    border-radius: 10px;
    width: 100%;
  }

  .GenreHeader {
    font-family: "Archivo Black", serif;
    font-size: 45px;
    text-align: center;
    /* margin: 5px; */
  }

  /* .MovieDisplayCenter {
  display: flex;
  justify-content: center;
} */

  .Column {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
  }

  .center {
    margin: 0px 25px 0px 0px;
  }

  .ImagesWidth {
    height: 350px;
    width: 250px;
  }

  .TitleofMovie {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0);
    width: 250px;
    text-align: center;
  }

  .Li {
    /* margin: 10px; */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    list-style-type: none;
  }

  .Li.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 650px) and (max-width: 850px) {
  .checkBox {
    display: flex;
    justify-content: center;
    /* margin: 30px 0px 30px 0px; */
    background-color: cadetblue;
    /* padding: 10px; */
  }

  .BlurPageofProduct {
    background-color: #a6a9b6;
    margin: 0px;
    border-radius: 10px;
    width: 100%;
  }

  .GenreHeader {
    font-family: "Archivo Black", serif;
    font-size: 45px;
    text-align: center;
    /* margin: 5px; */
  }

  /* .MovieDisplayCenter {
  display: flex;
  justify-content: center;
} */

  .Column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .center {
    margin: 0px 25px 0px 0px;
  }

  .ImagesWidth {
    height: 350px;
    width: 250px;
  }

  .TitleofMovie {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0);
    width: 250px;
    text-align: center;
  }

  .Li {
    /* margin: 10px; */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    list-style-type: none;
  }

  .Li.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 850px) and (max-width: 1050px) {
  .checkBox {
    display: flex;
    justify-content: center;
    /* margin: 30px 0px 30px 0px; */
    background-color: cadetblue;
    /* padding: 10px; */
  }

  .BlurPageofProduct {
    background-color: #a6a9b6;
    margin: 0px;
    border-radius: 10px;

    width: 80%;
  }

  .mediaDisplay {
    display: flex;
    justify-content: center;
  }

  .GenreHeader {
    font-family: "Archivo Black", serif;
    font-size: 45px;
    text-align: center;
    /* margin: 5px; */
  }

  /* .MovieDisplayCenter {
  display: flex;
  justify-content: center;
} */

  .Column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0;
  }

  .center {
    margin: 0px 25px 0px 0px;
  }

  .ImagesWidth {
    height: 350px;
    width: 250px;
  }

  .TitleofMovie {
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    color: rgb(0, 0, 0);
    width: 250px;
    text-align: center;
  }

  .Li {
    /* margin: 10px; */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    list-style-type: none;
  }

  .Li.fade-in {
    opacity: 1;
    transform: translateY(0);
  }
}
